.App {
  background-color: #4d244e;
  text-align: center;
  height: 100vh;
  padding: 30px;
  color: #aa8e8d;
}
.li {
  height: 100px;
  color: rgb(219, 75, 104);
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: large;
  color: rgb(219, 75, 104);
}

.NewTask {
  text-align: right;
  padding: 50px;
  height: 50px;
  
}
.Add-button {
  background-color:violet;
  text-decoration: solid;
  border-radius: 50%;
}

.close {
  position: absolute;
  right: 0;
  background-color: rgb(219, 75, 104);
}
input[type=checkbox] {
  position: absolute;
  right: 0;
  height: 17px;
  width: 100px;
  background-color: #eee;
  filter: sepia();
}
.timer {
  text-align: left;
  font-size: 25px;
  color: darksalmon;
}